html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#f1dbea, #fcded4);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container {
    height: 100%;
    max-width: 1540px;
    padding: 0px 32px;
    margin: auto;
    width: 100%;
    position: relative;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.ball {
    width: 20vw;
    height: 20vw;
    background: radial-gradient(50% 50% at 50% 50%, #FBD9C5 0%, rgba(251, 217, 197, 0) 80.65%);
    filter: blur(2px);
    backdrop-filter: blur(15.5px);
}

/* навигация */

.hamburger {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    padding: 8px 0;
    z-index: 10;
    transition: 0.4s;
}

.nav_white {
    background-color: #f1dbeaf9;
}

.nav__elements {
    display: flex;
    gap: 125px;
    align-items: center;
    position: relative;
}

.nav__logo img {
    width: 100px;
}

.nav__links {
    display: flex;
    gap: 64px;
}

.nav__links a {
    font-size: 17px;
    color: black;
    transition: 0.4s;
}

.nav__links a:hover {
    transform: scale(1.1);
}

.nav__phone {
    position: absolute;
    right: 0;
    color: black;
    transition: 0.4s;
    font-size: 15px;
}

.nav__phone:hover {
    transform: scale(1.1);
}

/* Header */

header {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 170px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.header__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.header__info {}

.header__location {
    font-weight: 300;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
}

h1 {
    font-size: 150px;
    opacity: 0.7;
    margin-bottom: 30px;
}

h1 span {
    display: block;
    font-size: 70px;
    text-align: right;
}

.header__info p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 100px;
    max-width: 550px;
}

.header__elements img {
    opacity: 0.7;
    flex-grow: 0.5;
}

.header__info a,
.services__elements a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    transform: translateX(50%);
    height: 64px;
    padding: 0 72px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 64px;
    position: relative;
    border-color: transparent;

}

.header__info a::before,
.services__elements a::before {
    /* псевдо элемент до */
    content: "";
    display: block;
    height: 64px;
    width: 64px;
    border: 1px solid black;
    position: absolute;
    border-radius: 64px;
    left: 0;
    transition: 0.4s;
}

.header__info a::after,
.services__elements a::after {
    content: url(../img/другое/Arrow.svg);
    width: calc(50% + 32px);
    top: 50%;
    display: inline-block;
    transform: translate(-110%, -50%);
    position: absolute;
    left: 64px;
    transition: 0.4s;
}

.header__info a:hover::before,
.services__elements a:hover::before {
    /* box-shadow: inset 0 0 0 1px black; */
    width: 100%;
}

.header__info a:hover::after,
.services__elements a:hover::after {
    opacity: 0;
}

/* секция о нас */

section {
    padding: 100px 0;
    position: relative;
}

h2 {
    font-weight: 600;
    margin-bottom: 56px;
}

.about-us__elements {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}

.about-us__photo {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.about-us__photo img {
    border-top-left-radius: 80px;
    display: block;
    z-index: 0;
    width: 100%;
}

.about-us__photo .Rospis {
    position: absolute;
    border-radius: none;
    z-index: 2;
    width: 45%;
    bottom: 0;
    right: 0;
    transform: translate(50%, 0);
}

.about-us__photo h3 {
    background: rgba(252, 252, 252, 0.915);
    padding: 7px 20px;
    display: inline-block;
    border-top-left-radius: 20px;
    transform: translate(10px, -30%);
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
}

.about__ball {
    position: absolute;
    bottom: 0;
    border-radius: 100%;
    left: 0;
    transform: translate(-15%, 30%);
    backdrop-filter: none;
    width: 150%;
    height: 50%;
}

.about-us__photo p {
    padding: 0 20px;
    transform: translateX(10px);
    z-index: 2;
}

.about-us__info p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    max-width: 550px;
}

/* секция почему выбирают нас */
.choose-us {
    padding-bottom: 200px;
}

.choose-us h2,
h3 {
    text-align: center;
}

.choose-us__elements {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.choose-us__element {
    min-width: 300px;
    width: 30%;
    text-align: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-us__element h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.choose-us__element img {
    max-width: 170px;
    width: 100%;
}

.choose-us__element hr {
    width: 70%;
    margin: auto;
    height: 2px;
    background: black;
    margin-bottom: 15px;
}

.choose-us__element p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.bg-bottom {
    position: absolute;
    width: 100%;
    height: 200px;
}

/* секция услуг */
.services {
    background-color: white;
}

.services h2 {
    text-align: center;
}

.services__elements {
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    padding: 165px 40px 165px 40px;
    display: flex;
    align-items: stretch;
    gap: 80px;
    position: relative;
}

.services .bg {
    top: 50vh;
    left: -10vw;
}

.services .ball {
    width: 30vw;
    height: 30vw;
}

.services__img {
    width: 50%;
    position: relative;
}

.services__img img {
    position: absolute;
    height: 80%;
    width: 100%;
    box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.204);
    border-top-left-radius: 100px;
    border-radius: 110px 16px 16px 16px;
    opacity: 0;
    transition: 0.7s;
    object-fit: cover;
    object-position: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.services__decoration {
    background: linear-gradient(#f1dbea, #fcded4);
    width: 100%;
    height: 100%;
    border-radius: 110px 16px 16px 16px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -40%);
    z-index: 0;
}

.services__img ._show {
    opacity: 1;
}

.services__item {
    padding: 20px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    border-radius: 40px 10px 10px 10px;
}

.services__item h4 {
    font-size: 20px;
    font-weight: 500;
}

.services__item p {
    opacity: 0;
    transition: 0.7s;
}

._active p {
    opacity: 1;
}

.services__list {
    width: 50%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

._active {
    background-color: white !important;
}

.services__spans {
    position: absolute;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.services__spans span {
    border-radius: 15px;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    display: block;
    transition: 0.7s;
    cursor: pointer;
}

.services__span_active {
    background: linear-gradient(#f1dbea, #fcded4);
}

.services__elements a {
    position: absolute;
    bottom: 0;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* секция Наши мастера */
.master {
    background-color: white;
    overflow: hidden;
}

.master__item h4 {
    background: rgba(252, 252, 252, 0.915);
    padding: 7px 20px;
    display: inline-block;
    border-top-left-radius: 20px;
    transform: translate(10px, -30%);
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
}

.master__item span {
    padding: 0 20px;
    transform: translateX(10px);
    z-index: 2;
    display: block;
    margin-bottom: 30px;
}

.master__item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 150px;
}

/* .master ul {
    flex-direction: column;
    display: flex;
    padding-left: 60px;
    gap: 16px;
}
.master li {
    position: relative;
}
.master li::after {
    content: "";
    width: 20px;
    height: 1px;
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-30px, -0.5px);
} */
.swiper-master {
    width: 80%;
}

.slider-prev {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translate(50px, -50%);
    left: 0;
    cursor: pointer;
    z-index: 7;
}

.slider-prev::after {
    content: url(../img/другое/Arrow2.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    transition: 0.4s;
}

.slider-next {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50px, -50%);
    right: 0;
    cursor: pointer;
    z-index: 7;
}

.slider-next::after {
    content: url(../img/другое/Arrow-next.svg);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(0, -50%);
    transition: 0.4s;
}

.slider-next:hover::after {
    transform: translate(10px, -50%);
}

.slider-prev:hover::after {
    transform: translate(-10px, -50%);
}

.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
}

.master .bg {
    left: -3vw;
    top: 35%;
}

.master .ball {
    width: 30vw;
    height: 30vw;
}

/* Прайс */
.price {
    padding-bottom: 200px;
    z-index: 1;
    position: relative;
}

.price__item {
    width: 100%;
}

.price h2 {
    text-align: center;
}

.price__item h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    font-weight: bold;
}

.price-detailed-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 120px;
}

.price-detailed-list br {
    display: none;
}

.price-detailed-list__item {
    width: 100%;
    display: flex;
}

.price-detailed-list__item h4 {
    font-size: 20px;
}

.price-detailed-list__item p {
    font-weight: bold;
    font-size: 24px;
}

.price-detailed-list__item span {
    flex-grow: 1;
    border-bottom: 2px dashed grey;
}

.price .slider-prev {
    top: 100%;
    left: 40%;
    transform: translate(0, 50%);
}

.price .slider-next {
    top: 100%;
    right: 40%;
    transform: translate(0, 50%);
}

/* футер */

footer {
    background-color: rgb(29, 29, 29);
    color: rgb(241, 241, 241);
    padding: 140px 0;
}

.footer__form {
    position: relative;
    padding: 32px;
    border: 3px solid white;
    background: #f1dbea;
    border-radius: 20px;
    max-width: 550px;
    width: 100%;
    margin: auto;
    margin-bottom: 200px;
}

.data-input {
    padding: 20px 40px;
    border-radius: 100px;
    margin-bottom: 20px;
    background-color: white;
    height: 56px;
    width: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.353);
    z-index: 1;
    color: rgb(142, 142, 142);
    display: none;
}

.footer__form .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

.footer__form .ball {
    width: 368px;
    height: 80%;
    position: absolute;
    top: 15%;
    left: -25%;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #FBD9C5 0%, rgba(251, 217, 197, 0) 80.65%);
    filter: blur(2px);
    backdrop-filter: blur(15.5px);
}

.footer__form .ball1 {
    width: 368px;
    height: 80%;
    position: absolute;
    top: 20%;
    right: -25%;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #FBD9C5 0%, rgba(251, 217, 197, 0) 80.65%);
    filter: blur(2px);
    backdrop-filter: blur(15.5px);
}

.form__elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.footer__form input {
    padding: 20px 40px;
    border-radius: 100px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.353);
    z-index: 1;
}
.footer__form input:focus {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.353);
}

.footer__form input .datatime {
    padding: 20px 40px;
    height: 56px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.353);
    z-index: 1;
}

.footer__form h3 {
    font-size: 36px;
    position: relative;
    z-index: 1;
    color: black;
    margin-bottom: 30px;
}

select {
    padding: 20px 40px;
    height: 56px;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.353);
    z-index: 1;
}
select:focus {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.353);
}

.footer__form button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;

}

.footer__form button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.footer__form button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

footer .copyright {
    text-align: center;
}

.footer__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    margin-bottom: 120px;
}

.footer__iframe-wrapper {
    display: inline-block;
    border-radius: 160px 20px 20px 20px;
    position: relative;
    transform: translate(1px, 1px);
}

iframe {
    border-radius: 160px 20px 20px 20px;
}

.footer__iframe-wrapper::after {
    border-radius: 168px 26px 26px 26px;
    z-index: -1;
    transform: scale(1.05);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#fab6e5, #fddbcf);
}

.footer__iframe-wrapper::before {
    border-radius: 168px 26px 26px 26px;
    z-index: -1;
    transform: translate(-10%, -10%) scale(1.05);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f1dbea;
}

.footer__info {
    display: flex;
    flex-direction: column;
}

.footer__info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.footer__info li {
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer__info p {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.footer__info a {
    font-size: 20px;
    color: white;
}

.footer__info a:hover {
    text-decoration: underline;
}

.footer__info span {
    display: block;
    color: rgb(178, 178, 178);
}

.footer__info i {
    font-size: 32px;
}